In [119]:
import pandas as pd
import numpy as np
from unidecode import unidecode
import math
import matplotlib.pyplot as plt

In [122]:
df = pd.read_csv('base_de_dados.csv', encoding='utf-8')
df

,id,id.1,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [123]:
# Transformando as colunas em snake_case e em minúsculo
df_columns = df.columns
df_columns = [unidecode(x).replace(" ", "_").lower() for x in df_columns]
df_columns

['id',
 'id.1',
 'nome',
 'genero',
 'idade',
 'raassa',
 'endereasso',
 'formaassapso',
 'estado',
 'tempo_de_casa',
 'departamento',
 'senioridade']

In [125]:
novos_nomes_colunas = dict(zip(df.columns, df_columns))
df = df.rename(columns=novos_nomes_colunas)
df

,id,id.1,nome,genero,idade,raassa,endereasso,formaassapso,estado,tempo_de_casa,departamento,senioridade
0,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno