In [49]:
import pandas as pd

In [50]:
df = pd.read_csv("base_de_dados.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  int64
 1   id.1           10000 non-null  int64
 2   Nome           10000 non-null  object
 3   Genero         10000 non-null  object
 4   Idade          9944 non-null   float64
 5   RaÃ§a          10000 non-null  object
 6   EndereÃ§o      10000 non-null  object
 7   FormaÃ§Ã£o     9956 non-null   object
 8   Estado         10000 non-null  object
 9   Tempo de casa  9800 non-null   float64
 10  Departamento   10000 non-null  object
 11  Senioridade    10000 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 937.6+ KB

In [51]:
df.tail()

,id,id.1,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
9995,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\r\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\r\nJohnsonshire, GU...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\r\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\r\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,72486 Diaz Springs Suite 182\r\nNew Thomasview...,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [52]:
# Ajustando o nome das colunas
df.rename(columns={'RaÃ§a': 'Raça', 'EndereÃ§o': 'Endereço', 'FormaÃ§Ã£o': 'Formação'}, inplace=True)

In [53]:
def remove_caracteres_especiais(df: pd.DataFrame) -> None:
    for column in df.select_dtypes(include=['object']).columns:
        df[column] = df[column].replace('\\r', '', regex=True).replace('\\n', ' ', regex=True)
        df[column] = df[column].apply(lambda x: str(x).encode('latin-1', 'ignore').decode('utf-8', 'ignore'))

In [54]:
#Corrige o erro causado pelos caracteres especiais.
remove_caracteres_especiais(df)

#Transforma a data para o tipo inteiro
df['Idade'] = df['Idade'].astype('Int64')

df.head()

,id,id.1,Nome,Genero,Idade,Raça,Endereço,Formação,Estado,Tempo de casa,Departamento,Senioridade
0,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34,pardo,"9155 Harold Oval Sellersside, FL 21337",Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,2,Elisângela Gabrielle de Osório,Fem,26,pardo,"941 Martin Manor Lake Isaiahtown, FM 43797",Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior
2,3,3,José Túlio de Cabral,Masc,35,pardo,"110 Davis Ridges Mejiaville, LA 17095",Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24,pardo,"48010 Wilson Glen Apt. 749 Smithborough, NV 00864",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,5,Fagner Josiel dos Santos,Masc,21,pardo,"8666 Ramos Ports Apt. 070 Sandraport, MN 33570",Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior

In [23]:
# Corrigindo dados das colunas
#df['Formação'] = df['Formação'].replace({'Ensino MÃ©dio': 'Ensino médio', 'PÃ³s graduaÃ§Ã£o': 'Pós graduação'}, regex=True)
#df['Raça'] = df['Raça'].replace({'indÃ­gena': 'Indigena'}, regex=True)
#df['Senioridade'] = df['Senioridade'].replace({'EstagiÃ¡rio': 'Estagiário', 'Analista JÃºnior':'Analista Júnior', 'Analista SÃªnior': 'Analista Sênior'}, regex=True)
#df['Endereço'] = df['Endereço'].str.replace('\n', '')
#df['Estado'] = df['Estado'].replace({
#                                       'AmapÃ¡':'Amapá',
#                                       'CearÃ¡':'Ceará',
#                                       'GoiÃ¡s':'Goiás',
#                                       'MaranhÃ£o':'Maranhão',
#                                       'ParÃ¡':'Pará',
#                                       'ParaÃ­ba':'Paraíba',
#                                       'ParanÃ¡':'Paraná',
#                                       'PiauÃ­':'Piauí',
#                                       'RondÃ´nia':'Rondônia',
#                                       'SÃ£o Paulo':'São Paulo',
#                                       'EspÃ­rito Santo':'Espírito Santo',
#})

In [25]:
# Retirando colunas repetidas