In [64]:
import pandas as pd
import numpy as np

In [65]:
def decode_text(text):
    '''Tratando caracteres mal interpretados'''

    if isinstance(text, str):
        latin1_bytes = text.encode('latin-1', errors='ignore')
        corrected_text = latin1_bytes.decode('utf-8', errors='ignore')
        return corrected_text
    else:
        return text

input_file = './base_dados/base_de_dados.csv'

df = pd.read_csv(input_file, encoding='utf-8', header=None).applymap(decode_text)

print(df)

          0      1                                        2       3      4   \
0         id     id                                     Nome  Genero  Idade
1          1      1  Eleonora Arilda Penedo Gomes de Padilha     Fem   34.0
2          2      2           Elisângela Gabrielle de Osório     Fem   26.0
3          3      3                     José Túlio de Cabral    Masc   35.0
4          4      4      Ezequiel Edivaldo de Medeiros Sonao    Masc   24.0
...      ...    ...                                      ...     ...    ...
9996    9996   9996                       Omar Camilo da Paz    Masc   21.0
9997    9997   9997                Edu de Muniz Jinuyul Neto    Masc   44.0
9998    9998   9998                  Benedito Robert Dlievic    Masc   21.0
9999    9999   9999                   Bento Osvaldo do Piauí    Masc   39.0
10000  10000  10000           Augusto José do Rio de Tavares    Masc   35.0

           5                                                  6   \
0        Raça                                           Endereço
1       pardo            9155 Harold Oval\nSellersside, FL 21337
2       pardo        941 Martin Manor\nLake Isaiahtown, FM 43797
3       pardo             110 Davis Ridges\nMejiaville, LA 17095
4       pardo  48010 Wilson Glen Apt. 749\nSmithborough, NV 0...
...       ...                                                ...
9996    pardo          47323 Casey Junction\nJaimefort, UT 49158
9997    pardo  1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...
9998   branco          41179 Tracie Parkways\nLangfort, IA 88137
9999    pardo                902 Luis Island\nBrownton, NJ 61984
10000  branco  72486 Diaz Springs Suite 182\nNew Thomasview, ...

                    7                 8              9   \
0             Formação            Estado  Tempo de casa
1         Ensino Médio    Santa Catarina           12.0
2         Ensino Médio              Pará            6.0
3         Ensino Médio    Santa Catarina            5.0
4      Ensino Superior         Tocantins            4.0
...                ...               ...            ...
9996   Ensino Superior          Rondônia            9.0
9997      Ensino Médio           Paraíba           10.0
9998   Ensino Superior  Distrito Federal            6.0
9999   Ensino Superior            Paraná            5.0
10000  Ensino Superior        Pernambuco            2.0

                                10               11
0                     Departamento      Senioridade
1                          Compras   Analista Pleno
2                    Contabilidade  Analista Júnior
3                           Vendas   Analista Pleno
4                   Administrativo          Gerente
...                            ...              ...
9996                 Contabilidade  Analista Júnior
9997                 Contabilidade  Analista Júnior
9998   Desenvolvimento de Produtos          Gerente
9999                        Vendas  Analista Júnior
10000                       Vendas   Analista Pleno

[10001 rows x 12 columns]

In [66]:
# Corrigindo os cabeçalhos
df.columns = df.iloc[0]  
df = df[1:] 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 1 to 10000
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  object
 1   id             10000 non-null  object
 2   Nome           10000 non-null  object
 3   Genero         10000 non-null  object
 4   Idade          9944 non-null   object
 5   Raça           10000 non-null  object
 6   Endereço       10000 non-null  object
 7   Formação       9956 non-null   object
 8   Estado         10000 non-null  object
 9   Tempo de casa  9800 non-null   object
 10  Departamento   10000 non-null  object
 11  Senioridade    10000 non-null  object
dtypes: object(12)
memory usage: 937.6+ KB

Neste momento, vamos tratar os dados das colunas realizando a padronização e normalização dos dados

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 1 to 10000
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  object
 1   id             10000 non-null  object
 2   Nome           10000 non-null  object
 3   Genero         10000 non-null  object
 4   Idade          9944 non-null   object
 5   Raça           10000 non-null  object
 6   Endereço       10000 non-null  object
 7   Formação       9956 non-null   object
 8   Estado         10000 non-null  object
 9   Tempo de casa  9800 non-null   object
 10  Departamento   10000 non-null  object
 11  Senioridade    10000 non-null  object
dtypes: object(12)
memory usage: 937.6+ KB

Note que todas as nossas colunas estão sendo consideradas strings, vamos corrigir os tipos e os dados da nossa tabela.

In [68]:
df.tail()

,id,id,Nome,Genero,Idade,Raça,Endereço,Formação,Estado,Tempo de casa,Departamento,Senioridade
9996,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,Rondônia,9.0,Contabilidade,Analista Júnior
9997,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior
9998,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9999,9999,9999,Bento Osvaldo do Piauí,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,Paraná,5.0,Vendas,Analista Júnior
10000,10000,10000,Augusto José do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

Substuindo valore nulos

In [69]:
df.dropna(subset=['Idade','Formação','Tempo de casa'],inplace= True)
df

,id,id,Nome,Genero,Idade,Raça,Endereço,Formação,Estado,Tempo de casa,Departamento,Senioridade
1,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno
2,2,2,Elisângela Gabrielle de Osório,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior
3,3,3,José Túlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno
4,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
5,5,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior
...,...,...,...,...,...,...,...,...,...,...,...,...
9996,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,Rondônia,9.0,Contabilidade,Analista Júnior
9997,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior
9998,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9999,9999,9999,Bento Osvaldo do Piauí,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,Paraná,5.0,Vendas,Analista Júnior
10000,10000,10000,Augusto José do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [70]:
# Corrigindo dados das colunas


df['Tempo de casa'] = df['Tempo de casa'].astype(float).astype(int)
df.loc[df['Tempo de casa'] < 0, 'Tempo de casa'] = -1

df['Idade'] = df['Idade'].astype(float).astype(int)

df['Endereço'] = df['Endereço'].str.replace('\n', ' ')

df['Genero'] = df['Genero'].replace({'Fem': 'F', 'Masc': 'M'})

lista_de_estados = {
                    'Acre':'AC',
                    'Alagoas':'AL',
                    'Amapá':'AP',
                    'Amazonas':'AM',
                    'Bahia':'BA',
                    'Ceará':'CE',
                    'Distrito Federal':'DF',
                    'Espírito Santo':'ES',
                    'Goiás':'GO',
                    'Maranhão':'MA',
                    'Mato Grosso':'MT',
                    'Mato Grosso do Sul':'MS',
                    'Minas Gerais':'MG',
                    'Pará':'PA',
                    'Paraíba':'PB',
                    'Paraná':'PR',
                    'Pernambuco':'PE',
                    'Piauí':'PI',
                    'Rio de Janeiro':'RJ',
                    'Rio Grande do Norte':'RN',
                    'Rio Grande do Sul':'RS',
                    'Rondônia':'RO',
                    'Roraima':'RR',
                    'Santa Catarina':'SC',
                    'São Paulo':'SP',
                    'Sergipe':'SE',
                    'Tocantins':'TO'}

df['Estado_UF'] = df['Estado'].replace(lista_de_estados)

In [72]:
# Padronizando cabeçalos
df.rename(columns={'Raça': 'Raca', 'Endereço': 'Endereco', 'Formação': 'Formacao', 'Tempo de casa': 'Tempo_de_casa'}, inplace=True)

In [73]:
# Retirando coluna repetida
df.drop(['id'], axis=1, inplace=True)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9701 entries, 1 to 10000
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           9701 non-null   object
 1   Genero         9701 non-null   object
 2   Idade          9701 non-null   int64
 3   Raca           9701 non-null   object
 4   Endereco       9701 non-null   object
 5   Formacao       9701 non-null   object
 6   Estado         9701 non-null   object
 7   Tempo_de_casa  9701 non-null   int64
 8   Departamento   9701 non-null   object
 9   Senioridade    9701 non-null   object
 10  Estado_UF      9701 non-null   object
dtypes: int64(2), object(9)
memory usage: 909.5+ KB